* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #06b6d4;
  min-height: 27em;
}

.header-figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-picture {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 18rem;
  min-height: 24rem;
  object-fit: cover;
}

.header-picture-text {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.about-me-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
  min-width: 23rem;
  background-color: white;
  text-align: justify;
}

.about-me-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.3rem;
}

.about-me-text {
  max-width: 19rem;
  font-size: 1.3rem;
}

.header-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1.2rem;
}

.header-icons {
  font-size: 34px;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.project-container-header {
  font-size: 2.3rem;
  margin-bottom: 0.7rem;
  text-align: center;
}

.projects-pictures {
  max-width: 15rem;
  min-height: 17rem;
  object-fit: cover;
}

.projects-description {
  padding-bottom: 11rem;
  border: 1px solid black;
}

.footer-informations-container {
  background-color: #06b6d4;
  min-height: 30rem;
}

.footer-picture {
  display: block;
  max-width: 100%;
  min-height: 28rem;
  overflow: hidden;
  object-fit: cover;
}
